<div ng-controller="ControllerOwner">
    <div class="row-fluid">
        <div class="span6">
            <fieldset>
                <legend>Propriétaire</legend>
                <div class="control-group">
                    <label class="control-label">Civilité</label>
                    <div class="controls">
                        <select ng-model="owner.gender">
                            <option value="MA">Madame</option>
                            <option value="MO">Monsieur</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Nom</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" ng-model="owner.surname" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Prénom</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" ng-model="owner.firstname" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Date de naissance</label>
                    <div class="controls">
                        <input type="text" ng-model="owner.birthDate"
                               datepicker-popup="dd/MM/yyyy" show-weeks="false" is-open="opened"
                               datepicker-options="dateOptions" show-button-bar="false"
                               close-text="Close" />
                        <button class="btn" ng-click="openCalendar($event)"><i class="icon-calendar"></i></button>
                    </div>


                </div>
            </fieldset>
        </div>

        <div class="span6">
            <fieldset>
                <legend>Adresse</legend>
                 <div class="control-group">
                    <label class="control-label">Adresse</label>
                        <div class="controls">
                            <input class="input-xlarge" type="text" ng-model="saveData.addressesOwner[0].street" />
                        </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Complément Adresse</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" ng-model="saveData.addressesOwner[0].additional" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Code Postal</label>
                    <div class="controls">
                        <input class="input-small" type="text" ng-model="saveData.addressesOwner[0].postalCode" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Ville</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" ng-model="saveData.addressesOwner[0].city" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Pays</label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" ng-model="saveData.addressesOwner[0].country" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <fieldset>
                <legend>Contact</legend>
                    <div class="span6" style="margin-left:0">
                        <div class="control-group">
                            <label class="control-label">Tél. domicile</label>
                            <div class="controls">
                                <input type="tel" ng-model="owner.phoneHome" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Tél. travail</label>
                            <div class="controls">
                                <input type="tel" ng-model="owner.phoneWork" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Tél. portable</label>
                            <div class="controls">
                                <input type="tel" ng-model="owner.phoneMobile" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Tél. portable conjoint</label>
                            <div class="controls">
                                <input type="tel" ng-model="owner.phoneConjoint" />
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">Télécopie</label>
                            <div class="controls">
                                <input type="tel" ng-model="owner.fax" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email</label>
                            <div class="controls">
                                <input type="email" ng-model="owner.mail" />
                            </div>
                        </div>
                    </div>
            </fieldset>
        </div>
    </div>
</div>