<div class="container-fluid" ng-controller="ControllerAjout">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
        </div>
        <div class="span10">
            <!--Body content-->
            <ul class="nav nav-pills">
                <li><a href="#">Propriétaire</a></li>
                <li class="active"><a href="#">Bien</a></li>
                <li><a href="#">Descriptif</a></li>
                <li><a href="#">Equipement</a></li>
                <li><a href="#">Administratif</a></li>
                <li><a href="#">Diagnostics immobiliers</a></li>
                <li><a href="#">Détail des pièces</a></li>
                <li><a href="#">Visites</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <form class="form-horizontal well">
                <fieldset>
                    <legend>Localisation</legend>
                    <div class="row">
                        <div class="span7">
                            <div class="control-group">
                                <label class="control-label">Adresse</label>
                                <div class="controls">
                                    <input class="input-xlarge" type="text" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Complément Adresse</label>
                                <div class="controls">
                                    <input class="input-xlarge" type="text" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Code Postal</label>
                                <div class="controls">
                                    <input class="input-small" type="number" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Ville</label>
                                <div class="controls">
                                    <input type="text" />
                                </div>
                            </div>
                        </div>

                        <div id="map" class="span5">
                            <div id="map_canvas" ui-map="map"
                                 style="height:300px;width:400px;border:2px solid #777777;margin:3px; border:1px solid"
                                 ui-options="mapOptions"
                                 ui-event="{'map-idle' : 'onMapIdle()', 'map-click': 'clickMap($event, $params)'}"
                                 >
                            </div>

                            <button class="btn" ng-click="findPositionByAddress()">Trouver la position</button>
                            <button class="btn" ng-click="resetMap()">RAZ map</button>

                        </div>

                    </div>
                </fieldset>

                <fieldset>
                    <legend>Commentaires</legend>
                    <tabset>
                        <tab heading="Site"><textarea class="input-xxlarge" rows="6">a</textarea></tab>
                        <tab heading="Fiche Vitrine"><textarea class="input-xxlarge" rows="6">b</textarea></tab>
                        <tab heading="Sites Immobiliers"><textarea class="input-xxlarge" rows="6">c</textarea></tab>
                        <tab heading="Etat"><textarea class="input-xxlarge" rows="6">d</textarea></tab>
                    </tabset>
                </fieldset>

                <fieldset data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                    <legend>Photos</legend>

                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <div class="row fileupload-buttonbar">
                        <div class="col-lg-7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Ajouter des photos...</span>
                                <input type="file" name="file[]" multiple ng-disabled="disabled">
                            </span>
                            <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                            <!-- The loading indicator is shown during file processing -->
                            <div class="fileupload-loading"></div>
                        </div>
                        <!-- The global progress information -->
                        <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                            <!-- The extended global progress information -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>


                    <!-- The table listing the files available for upload/download -->
                    <table class="table table-striped files ng-cloak">
                        <tr data-ng-repeat="file in queue">
                            <td data-ng-switch data-on="!!file.thumbnailUrl">
                                <div class="preview" data-ng-switch-when="true">
                                    <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                                </div>
                                <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                            </td>
                            <td>
                                <p class="name" data-ng-switch data-on="!!file.url">
                                    <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                        <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                        <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                    </span>
                                    <span data-ng-switch-default>{{file.name}}</span>
                                </p>
                                <div data-ng-show="file.error"><span class="label label-danger">Error</span> {{file.error}}</div>
                            </td>
                            <td>
                                <p class="size">{{file.size | formatFileSize}}</p>
                                <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                                <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </td>
                        </tr>
                    </table>

                    <div class="modal-body">
                        <ul  ui-sortable="sortableOptions" id="list-photos" class="unstyled inline">
                            <li><img src="img/logoMaison.png"  /><br />IMG-45</li>
                            <li><img src="img/logoAppartement.png" /><br />IMG-45</li>
                            <li><img src="img/logoTerrain.png" /><br />IMG-45</li>
                            <li><img src="img/logoCommercial.png" /><br />IMG-45</li>
                            <li><img src="img/logoGarage.png" /><br />IMG-45</li>
                        </ul>
                    </div>
                </fieldset>


            </form>
            <div class="center">
                <button type="submit" class="btn btn-success">Enregistrer</button>
                <button type="submit" class="btn btn-danger">Annuler</button>
            </div>
        </div>
    </div>

    <div class="modal hide" modal="shouldBeOpenGeoloc" options="opts">
        <div class="modal-header"><a class="close" ng-click="closeGeoloc()">×</a>
            <h3>Adresses trouvées</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="place in places">
                  {{place.formatted_address}} <a href="javascript:;" ng-click="usePlace($index)">Utiliser</a>
                </li>

            </ul>
        </div>
    </div>

</div>