@import "variables.less";

/* ##### OVERRIDE ##### */
/* Hide spinner on html5 input number (firefox) */
input[type=number] {
  -moz-appearance:textfield;
}



.alert-dismissable {
  margin-bottom: 5px;
  padding: 5px 35px 5px 5px;
}



.navbar-form.navbar-right:last-child {
  margin-right: 0;
}


.modal-header {
  background: #F1F1F1;
  padding :10px;
  h3 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

/* dialogs.min.css */
.modal-header.dialog-header-confirm {
  padding :15px;
}
.dialog-header-confirm {
  background: #F1F1F1;
}
.dialog-header-error span, .dialog-header-error h4, .dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 {
  color: #000000;
}
.modal-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}