@import "variables.less";

/* bootstrap sets max-width on img to 100% and broke google maps controls */
#map img { max-width:none;}

/* ##### PAGE PRP MANAGEMENT ##### */

/* ## TAB GENERAL ## */
/* style des éléments de la liste */
ul#list-photos li {
  border:1px solid #ddd;
  padding:10px;
  cursor:move;
  height:180px;
  width:130px;
  float:left;
  margin-right:10px;
  background:#fff;
  color:#212326;
  -moz-box-shadow:2px 2px 5px #ccc;
  text-align: center;

  .photoName {
    white-space: nowrap;
    overflow: hidden
  }
}
ul#list-photos li img {
  margin-bottom: 10px;
}
/* style de l'élément fantome, qui apparait losque que l'on bouge un élément */
ul#list-photos li.highlight{
  background:#f2f2f2;
  border:1px dashed #212326;
}

/* ## TAB DESC ## */
#pieces .add-on {
  cursor : pointer;
}

.ui-slider-handle {
  cursor:pointer !important;
}

.saveRemind {
  font-weight: bold;
}
form.ng-dirty {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FFFFFF),
    color-stop(1, #F4F5BF)
  );
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F4F5BF 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F4F5BF 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F4F5BF 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F4F5BF 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F4F5BF 100%);
}