@import "variables.less";

/* bootstrap sets max-width on img to 100% and broke google maps controls */
#map img { max-width:none;}

/* ##### PAGE PRP MANAGEMENT ##### */

/* ## TAB GENERAL ## */
/* style des éléments de la liste */
ul.list-photos {
  li {
    border:1px solid #ddd;
    padding:10px;
    cursor:move;
    height:180px;
    width:130px;
    float:left;
    margin-right:10px;
    background:#fff;
    color:#212326;
    -moz-box-shadow:2px 2px 5px #ccc;
    text-align: center;

    .photoName {
      white-space: nowrap;
      overflow: hidden
    }
  }
  li img {
    margin-bottom: 10px;
  }
  /* style de l'élément fantome, qui apparait losque que l'on bouge un élément */
  li.highlight{
    background:#f2f2f2;
    border:1px dashed #212326;
  }

  /* ## TAB DESC ## */
  #pieces .add-on {
    cursor : pointer;
  }

  .ui-slider-handle {
    cursor:pointer !important;
  }

  /* ROOMS */
  .thumbnail {
    padding: 0px;
    height: 350px;
    .photo-room {
      height: 160px;
      img {
        margin: auto;
        display: block;
        max-height: 160px;
      }
    }

    .caption {
      padding: 5px;
      h3 { margin-top: 5px; text-align: center}
      .description-room {
        height: 80px;
      }
    }
  }
  /* ROOM MODAL */
  .modal-body-room {
    padding: 5px 20px 20px 20px;
  }
  .roomPhotos {
    .active img {
      border: 02px solid #428BCA;
      box-shadow: 5px 5px 5px #898B8D;
    }
  }

  .thumbnail-document {
    height: 300px;
    .preview-document {
      height: 140px;
      img {
        margin: auto;
        display: block;
        max-height: 140px;
      }
    }
    .page-size {
      height: 40px;
    }
  }

  .logo-dl img {
    width: 40px;
  }

  .mycheckbox-inline {
    label {
      margin-right: 20px;
    }
    input[type="checkbox"] {
      margin-left: -15px;
    }
  }

  .summaries {

    .summary-heading {
      display:table; width:100%;
      vertical-align: middle;

      .summary-heading-title {
        display: table-cell;
      }
      .summary-heading-action {
        display: table-cell;
        text-align: right;
        vertical-align: middle;

        span {
          margin: 0 5px;
        }
      }
      .summary-input-separation {
        display:table-cell;
        vertical-align: middle;
        padding: 0px 5px;
        text-align: center;
      }
    }

    .summary {
      position: relative;
    }

    .confirm-updated {
      position: absolute;
      right: 15px;
      font-size: 80px;
      top: 16px;
      display: none;
      opacity: 0;
    }
    .summary-updated .confirm-updated {
      display: block;
      animation-name: summary-update-animation;
      animation-duration: 3s;
    }

    @keyframes summary-update-animation {
      0%   {opacity: 0;}
      50%  {opacity: 1;}
      100%  {opacity: 0;}
    }

    .animate-hide.ng-hide {
      transition: all linear 1s;
      transform: translate(-100%, 0);
      opacity: 0;
    }
    .animate-hide.ng-hide-remove {
      transition: all linear 1s;
      opacity: 1;
    }
  }


  /* ## CLIENT VIEW ## */
  .highlight {
    .city {
      font-weight: bold;
      font-size: 2em;
      text-align: center;
    }
    .price {
      font-weight: bold;
      font-size: 2em;
      text-align: center;
    }
  }

  .description {
    box-shadow: -5px 5px 10px rgb(85, 85, 85);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px 10px;
  }

  .general-informations {
    margin-top: 20px;
  }
}