@import "variables.less";

/* bootstrap sets max-width on img to 100% and broke google maps controls */
#map img { max-width:none;}

/* ##### PAGE PRP MANAGEMENT ##### */

/* ## TAB GENERAL ## */
/* style des éléments de la liste */
ul#list-photos li {
  border:1px solid #ddd;
  padding:10px;
  cursor:move;
  height:180px;
  width:130px;
  float:left;
  margin-right:10px;
  background:#fff;
  color:#212326;
  -moz-box-shadow:2px 2px 5px #ccc;
  text-align: center;

  .photoName {
    white-space: nowrap;
    overflow: hidden
  }
}
ul#list-photos li img {
  margin-bottom: 10px;
}
/* style de l'élément fantome, qui apparait losque que l'on bouge un élément */
ul#list-photos li.highlight{
  background:#f2f2f2;
  border:1px dashed #212326;
}

/* ## TAB DESC ## */
#pieces .add-on {
  cursor : pointer;
}

.ui-slider-handle {
  cursor:pointer !important;
}

/* ROOMS */
.thumbnail {
  padding: 0px;
  height: 350px;
  .photo-room {
    height: 160px;
    img {
      margin: auto;
      display: block;
      max-height: 160px;
    }
  }

  .caption {
    padding: 5px;
    h3 { margin-top: 5px; text-align: center}
    .description-room {
      height: 80px;
    }
  }
}
/* ROOM MODAL */
.modal-body-room {
  padding-top: 5px;
}
.roomPhotos {
  .active img {
    border: 02px solid #428BCA;
    box-shadow: 5px 5px 5px #898B8D;
  }
}

.thumbnail-document {
  height: 300px;
  .preview-document {
    height: 140px;
    img {
      margin: auto;
      display: block;
      max-height: 140px;
    }
  }
  .page-size {
    height: 40px;
  }
}

.logo-dl img {
  width: 40px;
}