/* ##### OVERRIDE ##### */
.alert {
  margin-bottom: 5px;
  padding: 5px;
}
.modal-header {
  background: #F1F1F1;
  padding: 10px;
}
.modal-header h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}
/* dialogs.min.css */
.modal-header.dialog-header-confirm {
  padding: 15px;
}
.dialog-header-confirm {
  background: #F1F1F1;
}
.dialog-header-error span,
.dialog-header-error h4,
.dialog-header-wait span,
.dialog-header-wait h4,
.dialog-header-confirm span,
.dialog-header-confirm h4 {
  color: #000000;
}
.modal-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* ##### GENERAL ##### */
.pointer {
  cursor: pointer;
}
.center {
  text-align: center;
}
legend + .control-group {
  margin-top: 0px;
}
.normal {
  font-weight: normal;
}
/* Add pointer to widget minus-plus */
div[minus-plus=""] > span {
  cursor: pointer;
}
.batchSuccess {
  color: green;
}
.batchError {
  color: red;
  font-weight: bold;
}
/* bootstrap sets max-width on img to 100% and broke google maps controls */
#map img {
  max-width: none;
}
/* ##### PAGE PRP MANAGEMENT ##### */
/* ## TAB GENERAL ## */
/* style des éléments de la liste */
ul#list-photos li {
  border: 1px solid #ddd;
  padding: 10px;
  cursor: move;
  height: 180px;
  width: 130px;
  float: left;
  margin-right: 10px;
  background: #fff;
  color: #212326;
  -moz-box-shadow: 2px 2px 5px #ccc;
  text-align: center;
  overflow: hidden;
}
ul#list-photos li img {
  margin-bottom: 10px;
}
/* style de l'élément fantome, qui apparait losque que l'on bouge un élément */
ul#list-photos li.highlight {
  background: #f2f2f2;
  border: 1px dashed #212326;
}
/* ## TAB DESC ## */
#pieces .add-on {
  cursor: pointer;
}
.ui-slider-handle {
  cursor: pointer !important;
}
/* NAVIGATION */
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default a {
  color: #ffffff;
}
.navbar-default {
  background: none;
  border-color: transparent;
}
/* Hover sur les liens du menu de gauche */
.nav > li a:hover,
.nav > li a:focus {
  background: #9e889e;
}
/* Couleur des liens des onglets */
.nav-tabs {
  border-bottom: none;
  cursor: pointer;
  /*Pointer pour la directive tab*/
}
.nav-tabs a {
  color: black;
}
#wrapper {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.07, #2b0221), color-stop(1, #63485d));
  background-image: -o-linear-gradient(bottom, #2b0221 7%, #63485d 100%);
  background-image: -moz-linear-gradient(bottom, #2b0221 7%, #63485d 100%);
  background-image: -webkit-linear-gradient(bottom, #2b0221 7%, #63485d 100%);
  background-image: -ms-linear-gradient(bottom, #2b0221 7%, #63485d 100%);
  background-image: linear-gradient(to bottom, #2b0221 7%, #63485d 100%);
}
/* TABLE */
.table {
  border: 1px solid #808080;
  background-color: white;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #808080;
}
.table thead {
  background-color: #260426;
  color: white;
}
/* FORMS */
.well {
  background: white;
}
/* Menu d'action */
.action {
  margin: 10px;
}
/* Liste des actions présentées dans une cellule d'un tableau*/
.btn-group-action {
  background: #ededed;
  border-radius: 5px;
  margin: auto;
}
.btn-group-action a {
  color: black;
}
.btn-group-action a:hover,
.btn-group-action a:focus {
  color: #428BCA;
}
.displaytable {
  display: table;
  border-spacing: 5px;
}
.displaytable > div {
  display: table-cell;
}
.displaytable > div .input-group {
  border-spacing: 0;
}
