@import "variables.less";
@import "override.less";
@import "general.less";
@import "dashboard.less";
@import "properties.less";

/* NAVIGATION */
.navbar-default .navbar-brand {
  color : @colorNavLi;
}
.navbar-default a {
  color : @colorNavLi;
}
.navbar-default {
  background: none;
  border-color : transparent;
}
.navbar-default .active {
 background: @colorNavLiHover;
}

/* Hover sur les liens du menu de gauche */
.nav > li a:hover, .nav > li a:focus {
  background: @colorNavLiHover;
}
/* Menu de gauche actif*/
.navbar-default .active {
  background: @colorNavLiHover;
}

/* Couleur des liens des onglets */
.nav-tabs {
  border-bottom : none;
  cursor : pointer; /*Pointer pour la directive tab*/

  a {
    color : black;
  }
}

#wrapper {
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.07, @colorWrapperGradientBegin),
    color-stop(1, @colorWrapperGradientEnd)
  );
  background-image: -o-linear-gradient(bottom, @colorWrapperGradientBegin 7%, @colorWrapperGradientEnd 100%);
  background-image: -moz-linear-gradient(bottom, @colorWrapperGradientBegin 7%, @colorWrapperGradientEnd 100%);
  background-image: -webkit-linear-gradient(bottom, @colorWrapperGradientBegin 7%, @colorWrapperGradientEnd 100%);
  background-image: -ms-linear-gradient(bottom, @colorWrapperGradientBegin 7%, @colorWrapperGradientEnd 100%);
  background-image: linear-gradient(to bottom, @colorWrapperGradientBegin 7%, @colorWrapperGradientEnd 100%);
}

/* TABLE */
.table {
  border: 1px solid @colorTableBorder;
  background-color: white;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid @colorTableBorder;
}
.table thead, .table thead a {
  background-color: @colorTableHead;
  color : white;
}

/* FORMS */
.well {
  background: white;
}

/* Menu d'action */
.action {
  margin: 10px;
}

/* Liste des actions présentées dans une cellule d'un tableau*/
.btn-group-action {
  background:#ededed;border-radius:5px;
  margin: auto;

  a {
    color : black;

  }
  a:hover, a:focus {
    color : #428BCA;
  }
}


.displaytable {
  display: table;
  border-spacing: 5px;

  & > div {
    display: table-cell;
    & .input-group {
      border-spacing: 0;
    }
  }
}


.passerelle_recap_push_ack {
  color: green;
}
.passerelle_recap_push {
   color: #DEBB33;
 }

