<div>

    <div class="row action">
        <button type="button" class="btn btn-default" title="Retour" onclick="history.go(-1)"><i class="glyphicon glyphicon-arrow-left"></i></button>
        <a type="button" class="btn btn-success" href="#/proprietaires/ajouter"><i class="glyphicon glyphicon-plus"></i> Ajouter</a>
    </div>

    <div class="row">

        <table class="table table-condensed">
            <thead>
            <tr>
                <th style="width:30%"><sort-by onsort="sort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortBy" sortvalue="name">Nom</sort-by></th>
                <th style="width:20%">Téléphones</th>
                <th style="width:10%"><sort-by onsort="sort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortBy" sortvalue="key">Clé</sort-by></th>
                <th style="width:20%">Biens</th>
                <th style="width:20%">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in owners">
                    <td>{{o.surname}} {{o.firstname}}</td>
                    <td>
                        {{o.phoneMobile}}
                        <br ng-if="o.phoneMobile"/>
                        {{o.phoneHome}}
                    </td>
                    <td>{{o.keyNumber}}</td>
                    <td><span ng-bind-html="o.properties | prpLinks"></span></td>
                    <td>
                        <div class="btn-group btn-group-action">
                            <a title="Modifier" href="#/proprietaires/modifier/{{o.techid}}" class="btn"><i class="glyphicon glyphicon-edit"></i></a>
                            <button title="Supprimer" class="btn" ng-click="delete($index)"><i class="glyphicon glyphicon-remove-circle"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-center" ng-show="totalItems > 1">
            <uib-pagination boundary-links="true"
                        total-items="totalItems"
                        items-per-page="filterCriteria.itemNumberPerPage"
                        ng-model="filterCriteria.pageNumber"
                        class="pagination"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ng-change="selectPage()">
            </uib-pagination>
        </div>

    </div>

    <script type="text/ng-template" id="modalPrpDelete.html">
        <div class="modal-header"><a class="close" ng-click="$dismiss()">×</a>
            <h3>Suppression</h3>
        </div>
        <div class="modal-body">
            <p>Confirmez-vous la suppression de :
            <ul>
                <li ng-repeat="prp in selectedProperties">{{prp.reference}} -- {{prp.address.city}}</li>
            </ul>
            </p>
        </div>
        <div class="modal-footer">
            <a class="btn" ng-click="$dismiss()">Fermer</a>
            <a class="btn btn-warning" ng-click="delete()"><span class="icon-trash"></span>Supprimer</a>
        </div>
    </script>


    <script type="text/ng-template" id="modalPrpAdd.html">
        <div class="modal-header"><a class="close" ng-click="$dismiss()">×</a>
            <h3>Ajouter un bien</h3>
        </div>
        <div class="modal-body">
            <ul style="text-align:center" class="unstyled inline">
                <li><a href="#/biens/ajouter/HSE" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoMaison.png" /></a>Maison</li>
                <li><a href="#/biens/ajouter/APT" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoAppartement.png" /></a>Appartement</li>
                <li><a href="#/biens/ajouter/PLT" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoTerrain.png" /></a>Terrain</li>
                <li><a href="#/biens/ajouter/BSN" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoCommercial.png" /></a>Local Commercial</li>
                <li><a href="#/biens/ajouter/GRG" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoGarage.png" /></a>Garage</li>
            </ul>
        </div>
    </script>
</div>