<div class="row" style="margin-top:10px">
    <div class="col-xs-3 search">
        <!-- List of active filter-->
        <div class="search-filter-active" ng-if="displayMySearch()">
            <h4>Ma recherche</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="a in activesFilters">
                    <span ng-click="removeFilter(a.type, a.name)" class="glyphicon glyphicon-remove search-filter-remove"></span>
                    <a href="">{{a.label}}</a>
                </li>
            </ul>
        </div>


        <h4>Filtres disponibles</h4>
        <div class="search-filter-dispo">
            <div class="search-filter">
                <div class="search-filter-title">Modes</div>
                <ul>
                    <li ng-repeat="a in aggregations.modes">
                        <span class="glyphicon glyphicon-chevron-right font-small"></span>
                        <a href="" ng-click="addFilterTerm('modes', a.value)">{{a.value}} ({{a.nbDocuments}})</a>
                    </li>
                </ul>
            </div>

            <div class="search-filter">
                <div class="search-filter-title">Type de biens</div>
                <ul>
                    <li ng-repeat="a in aggregations.categories">
                        <span class="glyphicon glyphicon-chevron-right font-small"></span>
                        <a href="" ng-click="addFilterTerm('categories', a.value)">{{a.value}} ({{a.nbDocuments}})</a>
                    </li>
                </ul>
            </div>


            <div class="search-filter">
                <div class="search-filter-title">Villes</div>
                <ul>
                    <li ng-repeat="a in aggregations.cities">
                        <span class="glyphicon glyphicon-chevron-right font-small"></span>
                        <a href="" ng-click="addFilterTerm('cities', a.value)">{{a.value}} ({{a.nbDocuments}})</a>
                    </li>
                </ul>
            </div>

            <div class="search-filter">
                <div class="search-filter-title">Prix</div>
                <form ng-submit="addFilterRange('price')">
                    <div class="input-group">
                        <span class="input-group-addon">De</span>
                        <input class="form-control" type="text" ng-pattern="/^\d+$/" ng-model="filtersRange.price.min.value">
                        <span class="input-group-addon">à</span>
                        <input class="form-control" type="text" ng-pattern="/^\d+$/" ng-model="filtersRange.price.max.value">
                        <span class="input-group-addon">€</span>
                    </div>
                    <button type="submit" class="btn btn-success btn-search">Valider prix</button>
                    <br />
                </form>
            </div>

            <div class="search-filter">
                <div class="search-filter-title">Surface</div>
                <form ng-submit="addFilterRange('area')">
                    <div class="input-group">
                        <span class="input-group-addon">De</span>
                        <input class="form-control" type="text" ng-pattern="/^\d+$/" ng-model="filtersRange.area.min.value">
                        <span class="input-group-addon">à</span>
                        <input class="form-control" type="number" ng-pattern="/^\d+$/" ng-model="filtersRange.area.max.value">
                        <span class="input-group-addon">m²</span>
                    </div>
                    <button type="submit" class="btn btn-success btn-search">Valider surface</button>
                    <br />
                    </form>
            </div>
        </div>
    </div>


    <div class="col-xs-9 search">
        <div class="row">
            <div class="col-xs-7 search-result">
                <span>{{totalResults}}</span> résultats pour votre recherche
            </div>
            <div class="col-xs-5" style="margin-bottom: 5px">

                <select class="form-control" ng-model="sortTmp" ng-options="t.label for t in sortPossibilities" ng-change="changeSort()">
                    <option value="">--- Trier ---</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4" ng-repeat="prp in property">
                <div class="thumbnail search-thumbnail" style="position: relative">
                    <img ng-src="{{prp.image.url}}?size=200,120&crop=200,120" alt="">
                    <div class="caption">
                        <h4 class="center" style="height: 35px">{{prp.category}} à {{prp.address.city}}</h4>
                        <ul class="list-unstyled" style="height: 110px">
                            <li><b>Référence</b> : {{prp.reference}}</li>
                            <li><b>Prix</b> : {{prp.sale.price || prp.rent.price | number:0}} €</li>
                            <li><b>Surface</b> : {{prp.area || prp.landArea | area}}</li>
                            <li><b>Propriétaire</b> : <span ng-bind-html="prp.owners | ownerLinks"></span></li>
                        </ul>
                        <p class="text-center"><a href="#/biens/modifier/{{prp.reference}}" class="btn btn-primary btn-center">Voir le bien</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-center" ng-show="totalResults > 1">
            <pagination boundary-links="true"
                        total-items="totalResults"
                        items-per-page="numberResultsPerPage"
                        ng-model="pageNumber"
                        class="pagination"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ng-change="changePagination()"
                        >
            </pagination>
        </div>
    </div>

</div>