<div class="row">
    <div class="col-xs-3 search"></div>
    <div class="col-xs- search">
        <span>{{totalResults}} résultats pour à votre recherche</span>
    </div>
</div>


<div class="row">
    <div class="col-xs-3 search">
        <!-- List of active filter-->
        <div class="search-filter-active" ng-if="displayMySearch()">
            <h4>Ma recherche</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="a in activesFilters">
                    <span ng-click="removeFilter(a.type, a.name)" class="glyphicon glyphicon-remove search-filter-remove"></span>
                    <a href="">{{a.label}}</a>
                </li>
            </ul>
        </div>


        <h4>Filtres disponibles</h4>
        <div class="search-filter-dispo">
            <div class="search-filter">
                <div class="search-filter-title">Modes</div>
                <ul>
                    <li ng-repeat="a in aggregations.modes">
                        <span class="glyphicon glyphicon-chevron-right font-small"></span>
                        <a href="" ng-click="addFilterTerm('modes', a.value)">{{a.value}} ({{a.nbDocuments}})</a>
                    </li>
                </ul>
            </div>

            <div class="search-filter">
                <div class="search-filter-title">Type de biens</div>
                <ul>
                    <li ng-repeat="a in aggregations.categories">
                        <span class="glyphicon glyphicon-chevron-right font-small"></span>
                        <a href="" ng-click="addFilterTerm('categories', a.value)">{{a.value}} ({{a.nbDocuments}})</a>
                    </li>
                </ul>
            </div>


            <div class="search-filter">
                <div class="search-filter-title">Villes</div>
                <ul>
                    <li ng-repeat="a in aggregations.cities">
                        <span class="glyphicon glyphicon-chevron-right font-small"></span>
                        <a href="" ng-click="addFilterTerm('cities', a.value)">{{a.value}} ({{a.nbDocuments}})</a>
                    </li>
                </ul>
            </div>

            <div class="search-filter">
                <div class="search-filter-title">Prix</div>
                <div class="input-group">
                    <span class="input-group-addon">De</span>
                    <input class="form-control" type="text" ng-pattern="/^\d+$/" ng-model="filtersRange.price.min.value">
                    <span class="input-group-addon">à</span>
                    <input class="form-control" type="text" ng-pattern="/^\d+$/" ng-model="filtersRange.price.max.value">
                    <span class="input-group-addon">€</span>
                </div>
                <button type="button" class="btn btn-success btn-search" ng-click="addFilterRange('price')">Valider prix</button>
                <br />
            </div>

            <div class="search-filter">
                <div class="search-filter-title">Surface</div>
                <div class="input-group">
                    <span class="input-group-addon">De</span>
                    <input class="form-control" type="text" ng-pattern="/^\d+$/" ng-model="prp.floorLevel">
                    <span class="input-group-addon">à</span>
                    <input class="form-control" type="number" ng-pattern="/^\d+$/" ng-model="prp.nbFloor">
                    <span class="input-group-addon">m²</span>
                </div>
                <button type="button" class="btn btn-success btn-search" ng-click="addFilterRange('area')">Valider surface</button>
                <br />
            </div>
        </div>
    </div>


    <div class="col-xs-9 search">

        <div class="col-xs-4" ng-repeat="prp in property">
            <div class="thumbnail search-thumbnail">
                <img ng-src="{{prp.image.url}}?size=200,120&crop=200,120" alt="">
                <div class="caption">
                    <h4 class="center">{{prp.category}} à {{prp.address.city}}</h4>
                    <ul class="list-unstyled">
                        <li><b>Référence</b> : {{prp.reference}}</li>
                        <li><b>Prix</b> : {{prp.sale.price || prp.rent.price | number:0}} €</li>
                        <li><b>Surface</b> : {{prp.area || prp.landArea | area}}</li>
                        <li><b>Propriétaire</b> : <span ng-bind-html="prp.owners | ownerLinks"></span></li>
                    </ul>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>

</div>