<div ng-controller="ControllerPrpTabPartner">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:300px">Site</th>
                <th style="width:100px">Présent</th>
                <th style="width:300px">Dernière action</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="p in partners">
                <td><img title="{{p.name}}" ng-src="{{p.img}}" /></td>
                <td><img ng-if="p.exist == null" ng-src="img/loading.gif" /><span ng-if="p.exist != null">{{p.exist | boolean}}</span></td>
                <td><span ng-if="p.lastRequest">{{p.lastRequest.label}} le {{p.lastRequest.modificationDate | date:'medium'}}</span></td>
                <td>
                    <div class="btn-group btn-group-action">
                        <a class="btn glyphicon glyphicon-upload" ng-click="synchronize(p)" title="Ajouter ou modifier"></a>
                        <a class="btn glyphicon glyphicon-remove-circle" ng-click="delete(p)" title="Supprimer"></a>
                    </div>

                </td>
            </tr>
        </tbody>

    </table>
</div>

