<div ng-controller="ControllerPrpTabDesc">
    <div class="row">
        <fieldset class="col-xs-4">
            <legend>Surfaces</legend>
            <div class="form-group">
                <label class="control-label">Surface Habitable</label>
                <div class="input-group">
                    <input class="form-control" type="number" ng-model="prp.area" />
                    <span class="input-group-addon">m²</span>
                </div>
            </div>
            <div class="form-group input-append">
                <label class="control-label">Surface Terrain</label>
                <div class="input-group">
                    <input class="form-control" type="number" ng-model="prp.landArea" />
                    <span class="input-group-addon">m²</span>
                </div>
            </div>
            <div class="form-group input-append">
                <label class="control-label">Surface Dependance</label>
                <div class="input-group">
                    <input class="form-control" type="number" ng-model="prp.dependencyArea" />
                    <span class="input-group-addon">m²</span>
                </div>
            </div>
        </fieldset>

        <fieldset class="col-xs-8">
            <legend>Nombre de pièces</legend>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Pièces</label>
                    <div class="input-group" minus-plus>
                        <span class="input-group-addon glyphicon glyphicon-minus"></span>
                        <input class="form-control" type="number" ng-model="prp.nbRoom" />
                        <span class="input-group-addon glyphicon glyphicon-plus"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Chambres</label>
                    <div class="input-group" minus-plus>
                        <span class="input-group-addon glyphicon glyphicon-minus"></span>
                        <input class="form-control" type="number" ng-model="prp.nbBedRoom" />
                        <span class="input-group-addon glyphicon glyphicon-plus"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Garage</label>
                    <div class="input-group" minus-plus>
                        <span class="input-group-addon glyphicon glyphicon-minus"></span>
                        <input class="form-control" type="number" ng-model="prp.nbGarage" />
                        <span class="input-group-addon glyphicon glyphicon-plus"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Salles de bains</label>
                    <div class="input-group" minus-plus>
                        <span class="input-group-addon glyphicon glyphicon-minus"></span>
                        <input class="form-control" type="number" ng-model="prp.nbBathRoom" />
                        <span class="input-group-addon glyphicon glyphicon-plus"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Salles d'eau</label>
                    <div class="input-group" minus-plus>
                        <span class="input-group-addon glyphicon glyphicon-minus"></span>
                        <input class="form-control" type="number" ng-model="prp.nbShowerRoom" />
                        <span class="input-group-addon glyphicon glyphicon-plus"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>WC</label>
                    <div class="input-group" minus-plus>
                        <span class="input-group-addon glyphicon glyphicon-minus"></span>
                        <input class="form-control" type="number" ng-model="prp.nbWC" />
                        <span class="input-group-addon glyphicon glyphicon-plus"></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <fieldset>
        <legend>Descriptif construction</legend>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label">Type de bien</label>
                    <select class="form-control" ng-model="saveData.type" ng-options="t.label for t in types" ng-change="typeChange()">
                        <option value="">--- Sélectionner un type ---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Année construction</label>
                    <input class="form-control" type="date" ng-model="saveData.buildDate" />
                </div>

                <div class="form-group">
                    <label>Étage</label>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="prp.floorLevel" />
                        <span class="input-group-addon">/</span>
                        <input class="form-control" type="number" ng-model="prp.nbFloor" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Exposition</label>
                    <select class="form-control" ng-model="prp.orientation">
                            <option value="">--- Sélectionner une orientation ---</option>
                            <option value="N">Nord</option>
                            <option value="S">Sud</option>
                            <option value="E">Est</option>
                            <option value="W">Ouest</option>

                            <option value="NE">Nord-Est</option>
                            <option value="NW">Nord-Ouest</option>
                            <option value="SE">Sud-Est</option>
                            <option value="SW">Sud-Ouest</option>
                        </select>
                </div>

                <div class="form-group">
                    <label>Toiture</label>
                    <select class="form-control" ng-model="saveData.roof" ng-options="l.label for l in roofs" ng-change="roofChange()">
                        <option value="">--- Sélectionner une toiture ---</option>
                    </select>
                </div>

            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label>Murs extérieurs</label>
                    <select class="form-control" ng-model="saveData.wall" ng-options="l.label for l in walls" ng-change="wallChange()">
                        <option value="">--- Sélectionner un mur ---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Isolation</label>
                    <select class="form-control" ng-model="saveData.insulation" ng-options="l.label for l in insulations" ng-change="insulationChange()">
                        <option value="">--- Sélectionner une isolation ---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Stationnement</label>
                    <select class="form-control" ng-model="saveData.parking" ng-options="l.label for l in parkings" ng-change="parkingChange()">
                        <option value="">--- Sélectionner un stationnement ---</option>
                    </select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="true" ng-model="prp.housingEstate"> Lotissement
                    </label>
                </div>

                <div style="margin-bottom: 20px;">
                    <label class="control-label">Etat</label>
                    <div ui-slider min="0" max="4" ng-model="saveData.stateOrder"></div>
                    <div class="center">{{states[saveData.stateOrder].label}}&nbsp;</div>
                </div>

            </div>
        </div>
    </fieldset>

    <script type="text/ng-template" id="modalAddType.html">
        <div class="modal-header">
            <h3>{{labels.title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-inline center">
                <div class="form-group" style="width: 300px">
                    <input class="form-control" type="text" ng-model="newType.label" placeholder="{{labels.placeholder}}"/>
                </div>
                <button class="btn btn-success" ng-click="ok()">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Ajouter</span>
                </button>
                <button class="btn btn-danger" ng-click="$dismiss()">Annuler</button>
            </form>
        </div>
    </script>
</div>