<div ng-controller="ControllerPrpTabDocuments">

    <a href="{{linkShopFront}}?format=docx&type=classeur">Fiche classeur (word)</a>
    <a href="{{linkShopFront}}?format=odt&type=classeur">Fiche classeur (OpenOffice)</a>
    <a href="{{linkShopFront}}?format=pdf&type=classeur">Fiche classeur (pdf)</a>

    <br />
    <br />
    <a href="{{linkShopFront}}?format=docx&type=vitrine">Fiche vitrine (word)</a>
    <a href="{{linkShopFront}}?format=odt&type=vitrine">Fiche vitrine (OpenOffice)</a>
    <a href="{{linkShopFront}}?format=pdf&type=vitrine">Fiche vitrine (pdf)</a>

</div>