<div ng-controller="ControllerPrpTabDiagnosis">
    <fieldset>
        <legend>DPE</legend>
        <div class="row">
            <div class="form-group col-xs-6">
                <label>KwH</label>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="prp.dpe.kwh" />
                    <span class="input-group-addon">{{prp.dpe.classificationKWh}}</span>
                </div>
                <label>Ges</label>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="prp.dpe.ges" />
                    <span class="input-group-addon">{{prp.dpe.classificationGes}}</span>
                </div>
            </div>

            <div class="form-group col-xs-3">
                <img ng-if="prp.dpe.kwh != null" ng-src="http://localhost:8080/ogi-ws/rest/dpe/kwh?dpe={{prp.dpe.kwh}}&width=180" />
            </div>

            <div class="form-group col-xs-3">
                <img ng-if="prp.dpe.ges != null" ng-src="http://localhost:8080/ogi-ws/rest/dpe/ges?dpe={{prp.dpe.ges}}&width=180" />
            </div>
        </div>
    </fieldset>
</div>