<div id="prpList">
    <div class="row">
        <div class="btn-group">
            <button class="btn btn-info">Actions</button>
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="glyphicon glyphicon-pencil"></i> Modifier</a></li>
                <li><a href="javascript:;" ng-click="openModalDelete()"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-print"></i> Imprimer</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-upload"></i> Synchroniser sur Acimflo</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-upload"></i> Synchroniser sur Diaporama</a></li>
            </ul>
        </div>

        <button class="btn btn-primary" ng-click="openModalAddPrp()">Ajouter</button>
    </div>
    <div class="row">
        <table class="liste table table-striped table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>Référence</th>
                <th>Type</th>
                <th>Ville</th>
                <th>Prix</th>
                <th>Surface</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prp in properties">
                    <td><input type="checkbox" value="{{prp.reference}}" ng-model="prp.checked"/></td>
                    <td data-title="'reference'" sortable="reference">{{prp.reference}}</td>
                    <td>{{prp.category.label}}</td>
                    <td>{{prp.address.city}}</td>
                    <td>{{prp.sale.price}} €</td>
                    <td>
                        <span ng-switch on="type(prp)">
                            <span ng-switch-when="HSE">{{prp.area}} m²</span>
                            <span ng-switch-when="PLT">{{prp.landArea}} m²</span>
                            <span ng-switch-default></span>
                        </span>
                    </td>
                    <td><img ng-src="{{prp.photos[0].url | img:'thumb'}}"/></td>
                    <td style="vertical-align:middle">
                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="#/biens/modifier/{{prp.reference}}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <button type="button" class="btn btn-default" ng-click="delete($index)"><span class="glyphicon glyphicon-trash"></span></button>
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print"></span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="modalPrpDelete.html">
        <div class="modal-header"><a class="close" ng-click="$dismiss()">×</a>
            <h3>Suppression</h3>
        </div>
        <div class="modal-body">
            <p>Confirmez-vous la suppression de :
            <ul>
                <li ng-repeat="prp in selectedProperties">{{prp.reference}} -- {{prp.address.city}}</li>
            </ul>
            </p>
        </div>
        <div class="modal-footer">
            <a class="btn" ng-click="$dismiss()">Fermer</a>
            <a class="btn btn-warning" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span>Supprimer</a>
        </div>
    </script>


    <script type="text/ng-template" id="modalPrpAdd.html">
        <div class="modal-header"><a class="close" ng-click="$dismiss()">×</a>
            <h3>Ajouter un bien</h3>
        </div>
        <div class="modal-body">
            <ul class="list-unstyled list-inline text-center">
                <li><a href="#/biens/ajouter/HSE" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoMaison.png" /></a>Maison</li>
                <li><a href="#/biens/ajouter/APT" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoAppartement.png" /></a>Appartement</li>
                <li><a href="#/biens/ajouter/PLT" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoTerrain.png" /></a>Terrain</li>
                <li><a href="#/biens/ajouter/BSN" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoCommercial.png" /></a>Local Commercial</li>
                <li><a href="#/biens/ajouter/GRG" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoGarage.png" /></a>Garage</li>
            </ul>
        </div>
    </script>
</div>