<div id="prpClientView">

  <div class="row actions">
    <ul class="list-inline col-sm-12">
      <li><button type="button" class="btn btn-default" title="Retour" onclick="history.go(-1)"><i class="glyphicon glyphicon-arrow-left"></i></button></li>
      <li><a href="{{$root.ServiceUrl.urlPropertyEdit(prp.reference)}}" class="btn btn-default">Modifier</a></li>
      <li><a href="{{$root.ServiceUrl.urlDocument(prp.reference, 'client', 'pdf', 'A4')}}" class="btn btn-default">Fiche PDF</a></li>
    </ul>
  </div>



  <div class="row">
    <div class="col-sm-6">
      <div>
        <uib-carousel interval="carouselInterval" no-wrap="false">
          <uib-slide ng-repeat="slide in slides" active="slide.active">
            <a ng-click="openLightboxModal($index)">
              <img ng-src="{{slide.image}}" style="margin:auto; cursor: pointer" />
            </a>
            <div class="carousel-caption">
              <h4>Photo {{slide.text}}</h4>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>

    <div class="col-sm-offset-0 col-sm-6">
      <div class="highlight">
        <div class="city">{{prp.address.city}}</div>
        <div class="price">
          <span class="price-sale" ng-if="prp.sale.priceFinal">{{prp.sale.priceFinal | number:0}} €</span>
          <span class="price-separator" ng-if="prp.sale.priceFinal && prp.rent.priceFinal"> / </span>
          <span class="price-rent" ng-if="prp.rent.priceFinal">{{prp.rent.priceFinal | number:0}} €</span>
        </div>
      </div>

      <div class="description">
        <p ng-bind-html="descriptionClient()"></p>
      </div>
    </div>
  </div>


  <div class="row general-informations">


    <div class="col-sm-6">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th colspan="2">Informations générales</th>
        </tr>
        </thead>

        <tbody ng-if="prp.category.code == 'HSE' || prp.category.code == 'APT' || prp.category.code == 'BSN'">
          <tr><td>Type</td><td>{{prp.type}}</td></tr>
          <tr ng-if="displayLiveable()"><td>Surface Habitable</td><td>{{(prp.area | area) || '-'}}</td></tr>
          <tr><td>Surface Terrain</td><td>{{(prp.landArea | area) || '-'}}</td></tr>
          <tr><td>Année de construction</td><td>{{(prp.buildDate | date:'yyyy') || '-'}}</td></tr>
          <tr><td>Taxe foncière</td><td>{{(prp.sale.propertyTax | number:0) || '-'}} €</td></tr>
          <tr ng-if="displayLiveable()"><td>Lotissement</td><td>{{(prp.housingEstate | boolean) || '-'}}</td></tr>
          <tr ng-if="displayLiveable()"><td>Chauffage</td><td>{{prp.heating || '-'}}</td></tr>
          <tr ng-if="displayLiveable()"><td>Assainissement</td><td>{{prp.sanitation || '-'}}</td></tr>
          <tr ng-if="displayBusiness()"><td>Eau</td><td>{{(prp.watter | boolean) || '-'}}</td></tr>
          <tr ng-if="displayBusiness()"><td>Électricité</td><td>{{(prp.electicity | boolean) || '-'}}</td></tr>
        </tbody>

        <tbody ng-if="prp.category.code == 'PLT'">
          <tr><td>Type</td><td>{{prp.type}}</td></tr>
          <tr><td>Surface Terrain</td><td>{{(prp.landArea | area) || '-'}}</td></tr>
          <tr><td>Surface plancher</td><td>{{(prp.floorArea | area) || '-'}}</td></tr>
          <tr><td>Emprise au sol</td><td>{{(prp.prp.footPrint | area) || '-'}}</td></tr>
          <tr><td>Assainissement</td><td>{{prp.sanitation || '-'}}</td></tr>
          <tr><td>Viabilisé</td><td>{{(prp.serviced | boolean) || '-'}}</td></tr>
          <tr><td>Lotissement</td><td>{{(prp.housingEstate | boolean) || '-'}}</td></tr>
          <tr><td>Constructible</td><td>{{(prp.building | boolean) || '-'}}</td></tr>
        </tbody>

      </table>

      <table class="table table-condensed" ng-if="prp.rent">
        <thead>
        <tr>
          <th colspan="2">Location</th>
        </tr>
        </thead>

        <tbody>
          <tr><td>Loyer</td><td>{{(prp.rent.priceFinal | number:0) || '-'}} € </td></tr>
          <tr><td>Charges</td><td>{{(prp.rent.serviceCharge | number:0) || '-'}} € (<span ng-if="!prp.rent.serviceChargeIncluded">non </span>comprises)</td></tr>
          <tr><td>Dépôt de garantie</td><td>{{(prp.rent.deposit | number:'0') || '-'}} €</td></tr>
          <tr><td>Honoraires</td><td>{{(prp.rent.commission | number:'0') || '-'}} €</td></tr>
          <tr><td>Libre le</td><td>{{(prp.rent.freeDate | date:'dd/MM//yyyy') || '-'}}</td></tr>
          <tr><td>Meublée</td><td>{{(prp.rent.furnished | boolean) || '-'}}</td></tr>
        </tbody>

      </table>


      <div class="dpe">
        <img class="kwh" title="Consommation énergétique {{prp.dpe.kwh}}" ng-src="{{kwhImage()}}" ng-if="kwhImage()" />
        <img class="ges" title="Taux d'émission de gaz à effet de serre {{prp.dpe.ges}}" ng-src="{{gesImage()}}" ng-if="gesImage()" />
      </div>
    </div>

    <div class="col-sm-6">
      <table class="table table-condensed rooms" ng-if="prp.rooms.length > 0">
        <thead>
        <tr>
          <th>Pièce</th>
          <th>Surface</th>
          <th>Sol</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="room in prp.rooms" ng-click="openRoomDetails($index)">
          <td>{{room.roomType}}</td>
          <td class="area">{{room.area | number:2 | area }}</td>
          <td>{{room.floor}}</td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>