<div ng-controller="ControllerPrpTabDesc">
  <div class="row">
    <fieldset class="col-xs-6">
      <div class="form-group">
        <label class="control-label">Type de bien</label>
        <select class="form-control" ng-model="saveData.type" ng-options="t.label for t in types" ng-change="typeChange()">
          <option value="">--- Sélectionner un type ---</option>
        </select>
      </div>

    </fieldset>

    <fieldset class="col-xs-6">
      <div class="form-group">
        <label>Eau</label>
        <div class="checkbox">
          <label class="checkbox-inline"><input type="radio" ng-value="true" ng-model="prp.water"/> Oui</label>
          <label class="checkbox-inline"><input type="radio" ng-value="false" ng-model="prp.water" ng-checked="prp.water==false"/> Non</label>
        </div>
      </div>

      <div class="form-group">
        <label>Electricité</label>
        <div class="checkbox">
          <label class="checkbox-inline"><input type="radio" ng-value="true" ng-model="prp.electricity"/> Oui</label>
          <label class="checkbox-inline"><input type="radio" ng-value="false" ng-model="prp.electricity" ng-checked="prp.electricity==false"/> Non</label>
        </div>
      </div>

    </fieldset>
  </div>


</div>