<div id="prpFormManage">

    <div class="row action">
        <button type="button" class="btn btn-default" title="Retour" onclick="history.go(-1)"><i class="glyphicon glyphicon-arrow-left"></i></button>
        <button type="submit" class="btn btn-success" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> Enregistrer</button>
    </div>

    <ul class="nav nav-tabs">
        <li ng-class="{active: addMenu.getActive() == 'owner'}"><a ng-click="addMenu.select('owner')" href="javascript:;">Propriétaire</a></li>
        <li ng-class="{active: addMenu.getActive()== 'prp'}"><a ng-click="addMenu.select('prp')" href="javascript:;">Bien</a></li>
        <li ng-class="{active: addMenu.getActive()== 'desc'}"><a ng-click="addMenu.select('desc')" href="javascript:;">Descriptif</a></li>
        <li ng-if="displayTab('room')" ng-class="{active: addMenu.getActive()== 'room'}"><a ng-click="addMenu.select('room')" href="javascript:;">Pièces</a></li>
        <li ng-class="{active: addMenu.getActive() == 'adminis'}"><a ng-click="addMenu.select('adminis')" href="javascript:;">Administratif</a></li>
        <li ng-if="displayTab('diagnosis')" ng-class="{active: addMenu.getActive() == 'diagnosis'}"><a ng-click="addMenu.select('diagnosis')" href="javascript:;">Diagnostics immobiliers</a></li>

        <!--<li ng-class="{active: addMenu.getActive() == 'doc'}"><a ng-click="addMenu.select('doc')" href="javascript:;">Documents</a></li>-->
        <li ng-if="!formCreate" ng-class="{active: addMenu.getActive()== 'partner'}"><a ng-click="addMenu.select('partner')" href="javascript:;">Sites externes</a></li>
    </ul>

    <!-- name is used by FormController to published form into scope -->
    <form name="formPrp" class="well">
        <div ng-include="addMenu.items[addMenu.getActive()].url"></div>
    </form>

</div>