<div ng-controller="ControllerPrpTabRoom">

    <div class="row">
        <div class="col-xs-3" ng-repeat="r in prp.rooms">
            <div class="thumbnail thumbnail-room">
                <div class="photo-room">
                    <img ng-if="r.photo" src="{{r.photo.url}}?size=300,300" />
                    <img ng-if="!r.photo" src="{{imgDefault}}" />
                </div>
                <div class="caption">
                    <h3>{{r.roomType}}</h3>
                    <p class="description-room">
                        Surface : {{r.area}} m² <br />
                        Sol : {{r.floor}}<br />
                        Description : {{r.description | limitTo:'45'}}...
                    </p>
                    <p class="text-center">
                        <button ng-click="update(r)" class="btn btn-default" role="button">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                            Détails
                        </button>
                        <button ng-click="delete(r)" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            Supprimer
                        </button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="thumbnail thumbnail-room">
                <div class="photo-room" style="padding-top:5px">
                    <img style="width: 130px;" src="img/add.png" />
                </div>
                <div class="caption">
                    <h3>Ajouter une pièce</h3>
                    <p class="description-room">
                    </p>
                    <p class="text-center">
                        <button ng-click="add()" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Ajouter
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="modalRoom.html">
    <div class="modal-header">
        <h3>{{title}}</h3>
    </div>
    <div class="modal-body modal-body-room">
        <form>
            <fieldset class="row">
                <legend>Général</legend>
                <div class="col-xs-6">
                    <div class="form-group input-append">
                        <label>Type de pièce</label>
                        <select ng-if="!newLabel.roomType.display" class="form-control" ng-model="saveData.roomType" ng-options="l.label for l in labels.roomTypes" ng-change="labelChange('roomType')">
                            <option value="">--- Sélectionner une type ---</option>
                        </select>
                        <div ng-if="newLabel.roomType.display" class="input-group">
                            <input class="form-control" type="text" ng-model="newLabel.roomType.value" />
                            <span uib-tooltip="Afficher la liste déroulante"
                                  ng-click="displayNewLabel('roomType', false)"
                                  class="pointer input-group-addon glyphicon glyphicon-remove">
                            </span>
                        </div>
                    </div>

                    <div class="form-group input-append">
                        <label class="control-label">Surface</label>
                        <div class="input-group">
                            <input class="form-control" type="number" step="0.01" ng-model="room.area" />
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <label>
                                <input type="checkbox" value="true" ng-model="room.carrezLaw"> Loi Carrez
                            </label>
                        </div>
                        <div class="col-xs-6">
                            <label>
                                <input type="checkbox" value="true" ng-model="room.livable"> Habitable
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Commentaire</label>
                        <textarea class="form-control" rows="4" ng-model="room.description"></textarea>
                    </div>
                </div>

            </fieldset>

            <fieldset class="row" style="margin-top: 20px">
                <legend>Détails</legend>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Exposition</label>
                        <select class="form-control" ng-model="room.orientation">
                            <option value="">-- Sélectionner une orientation --</option>
                            <option value="N">Nord</option>
                            <option value="S">Sud</option>
                            <option value="E">Est</option>
                            <option value="W">Ouest</option>

                            <option value="NE">Nord-Est</option>
                            <option value="NW">Nord-Ouest</option>
                            <option value="SE">Sud-Est</option>
                            <option value="SW">Sud-Ouest</option>
                        </select>
                    </div>

                    <div class="form-group input-append">
                        <label>Sol</label>
                        <select ng-if="!newLabel.floor.display" class="form-control" ng-model="saveData.floor" ng-options="l.label for l in labels.floors" ng-change="labelChange('floor')">
                            <option value="">--- Sélectionner un sol ---</option>
                        </select>
                        <div ng-if="newLabel.floor.display" class="input-group">
                            <input class="form-control" type="text" ng-model="newLabel['floor'].value" />
                            <span uib-tooltip="Afficher la liste déroulante"
                                  ng-click="displayNewLabel('floor', false)"
                                  class="pointer input-group-addon glyphicon glyphicon-remove">
                            </span>
                        </div>
                    </div>

                    <div class="form-group input-append">
                        <label>Mur</label>
                        <select ng-if="!newLabel.wall.display" class="form-control" ng-model="saveData.wall" ng-options="l.label for l in labels.walls" ng-change="labelChange('wall')">
                            <option value="">--- Sélectionner un mur ---</option>
                        </select>
                        <div ng-if="newLabel.wall.display" class="input-group">
                            <input class="form-control" type="text" ng-model="newLabel['wall'].value" />
                            <span uib-tooltip="Afficher la liste déroulante"
                                  ng-click="displayNewLabel('wall', false)"
                                  class="pointer input-group-addon glyphicon glyphicon-remove">
                            </span>
                        </div>
                    </div>
                </div>


                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Etage</label>
                        <div class="input-group" minus-plus>
                            <span class="input-group-addon glyphicon glyphicon-minus"></span>
                            <input class="form-control" type="number" ng-model="room.floorLevel" />
                            <span class="input-group-addon glyphicon glyphicon-plus"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fenêtres</label>
                        <div class="input-group" minus-plus>
                            <span class="input-group-addon glyphicon glyphicon-minus"></span>
                            <input class="form-control" type="number" ng-model="room.nbWindow" />
                            <span class="input-group-addon glyphicon glyphicon-plus"></span>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="row">
                <legend>Photo</legend>
                <ul class="list-unstyled list-inline roomPhotos text-center">
                    <li ng-repeat="photo in photos"
                        class="pointer"
                        ng-click="selectPhoto(photo)"
                        ng-class="{active: photoActive[photo.techid]}"
                    >
                        <img ng-src="{{photo.url}}?size=80,80&crop=80,80&&sizeMode=inversed_automatic" />
                    </li>
                </ul>

            </fieldset>



            <div class="row text-center">
                <button class="btn btn-success" ng-click="ok()">{{action}}</button>
                <button class="btn btn-danger" ng-click="$dismiss()">Annuler</button>
            </div>
        </form>
    </div>
</script>


