<div ng-controller="ControllerPrpTabDesc">
    <div class="row">
        <fieldset class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Type de bien</label>
                <select class="form-control" ng-model="saveData.type" ng-options="t.label for t in types" ng-change="typeChange()">
                    <option value="">--- Sélectionner un type ---</option>
                </select>
            </div>

            <div class="form-group input-append">
                <label class="control-label">Surface Terrain</label>
                <div class="input-group">
                    <input class="form-control" type="number" ng-model="prp.landArea" />
                    <span class="input-group-addon">m²</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">COS</label>
                <input class="form-control" type="number" ng-model="prp.cos" />
            </div>

        </fieldset>

        <fieldset class="col-xs-6">
            <div class="form-group">
                <label>Assainissement</label>
                <select class="form-control" ng-model="saveData.sanitation" ng-options="l.label for l in sanitations" ng-change="sanitationChange()">
                    <option value="">--- Sélectionner un assainissement ---</option>
                </select>
            </div>

            <div class="form-group">
                <label>Situation</label>
                <div class="checkbox">
                    <label class="checkbox-inline"><input type="radio" ng-value="true" ng-model="prp.housingEstate" /> Lotissement</label>
                    <label class="checkbox-inline"><input type="radio" ng-value="false"  ng-model="prp.housingEstate" ng-checked="!prp.housingEstate" /> Hors Lotissement</label>
                </div>
            </div>

            <div class="form-group">
                <label>Viabilisé</label>
                <div class="checkbox">
                    <label class="checkbox-inline"><input type="radio" ng-value="true" ng-model="prp.serviced" /> Oui</label>
                    <label class="checkbox-inline"><input type="radio" ng-value="false" ng-model="prp.serviced"  ng-checked="!prp.serviced" /> Non</label>
                </div>
            </div>

            <div class="form-group">
                <label>Constructible</label>
                <div class="checkbox">
                    <label class="checkbox-inline"><input type="radio" ng-value="true" ng-model="prp.building" /> Oui</label>
                    <label class="checkbox-inline"><input type="radio" ng-value="false" ng-model="prp.building" ng-checked="!prp.building" /> Non</label>
                </div>
            </div>

        </fieldset>
    </div>


</div>