<!--BEGIN DIV GENERAL -->
<div ng-controller="ControllerPrpTabVisitSummary as ctrlSummary">
  <!-- date, client, resumé-->

  <div class="row">
    <div class="col-xs-12 form-group">
      <label>Date</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="ctrlSummary.summary.date"
               uib-datepicker-popup="{{ctrlSummary.dateFormat}}" show-weeks="false" is-open="ctrlSummary.calendarOpen"
               datepicker-options="ctrlSummary.dateOptions" show-button-bar="false"
        />
        <span class="input-group-addon glyphicon glyphicon-calendar pointer" ng-click="ctrlSummary.openCalendar($event)"></span>
      </div>
    </div>

    <div class="col-xs-12 form-group">
      <label>Client</label>
      <input class="form-control" type="text" ng-model="ctrlSummary.summary.client" />
    </div>

    <div class="col-xs-12 form-group">
      <label>Description</label>
      <textarea class="form-control" rows="6" ng-model="ctrlSummary.summary.description"></textarea>
    </div>

    <div class="col-xs-12 form-group">
      <button  style="display:block; width:100%" type="submit" class="btn btn-success" ng-click="ctrlSummary.addVisitSummary()">
        <i class="glyphicon glyphicon-plus"></i>
        Ajouter un compte rendu
      </button>
    </div>
  </div>


  <div class="row summaries">
    <div class="col-xs-12">
      <div class="panel panel-default cols-xs-12 summary animate-hide" ng-repeat="sum in ctrlSummary.summaries" ng-hide="sum.deleted">
        <div class="panel-heading bold">
          <span class="pull-right pointer glyphicon glyphicon-remove" ng-click="ctrlSummary.deleteSummary(sum)"></span>
          <span class="summary-date">{{sum.date | date:'dd/MM/yyyy'}}</span> - <span class="summary-client">{{sum.client}}</span>
        </div>
        <div class="panel-body summary-description" ng-bind-html="sum.description | nl2br"></div>
      </div>
    </div>
  </div>

</div>
<!--END DIV GENERAL -->