<div class="row" ng-controller="ControllerPrpTabDocuments">

    <div class="col-xs-3" ng-repeat="doc in documents">
        <div class="thumbnail thumbnail-document">
            <div class="preview-document">
                <img src="img/img-{{doc.type}}.png" />
            </div>
            <div class="caption">
                <h3>{{doc.name}}</h3>
                <p class="page-size">
                    <select ng-if="displayPageSize(doc)" class="form-control" ng-model="doc.selectedPageSize" ng-options="label for label in doc.availablePageSize">
                    </select>
                </p>
                <ul class="list-inline text-center logo-dl">
                    <li>
                        <a ng-click="computeLink(doc, 'pdf')" href="">
                            <img src="img/logo-pdf.png" alt="pdf" title="Télécharger en PDF" />
                        </a>
                    </li>
                    <li>
                        <a ng-click="computeLink(doc, 'docx')" href="">
                            <img src="img/logo-word.png" alt="word" title="Télécharger au format Word" />
                        </a>
                    </li>
                    <li>
                        <a ng-click="computeLink(doc, 'odt')" href="">
                            <img src="img/logo-writer.png" alt="libre office" title="Télécharger au format Libre Office" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>