<div ng-controller="ControllerPrpTabOwner">
    <h3>Propriétaires du bien <span class="label label-default">{{saveData.ownersProperty.length}}</span></h3>
    <table class="table table-condensed" ng-if="displayZoneOwnerLink()">
        <thead>
        <tr>
            <th style="width:40%">Nom</th>
            <th style="width:20%">Téléphones</th>
            <th style="width:20%">Clé</th>
            <th style="width:20%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="o in saveData.ownersProperty">
            <td>{{o.firstname}} {{o.surname}}</td>
            <td>
                {{o.phoneMobile}}
                <br ng-if="o.phoneMobile"/>
                {{o.phoneHome}}
            </td>
            <td>{{o.keyNumber}}</td>
            <td style="vertical-align:middle">
                <div class="btn-group btn-group-action">
                    <a class="btn"href="#/proprietaires/modifier/{{o.techid}}" title="Voir"><i class="glyphicon glyphicon-eye-open"></i></a>
                    <a class="btn" ng-click="deleteToProperty(o.techid)" title="Supprimer du bien"><i class="glyphicon glyphicon-remove-circle"></i></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="!displayZoneOwnerLink()">
        <p>Le bien n'est associé à aucun propriétaire</p>
        <p class="center"><a href="{{urlOwnerCreate}}" class="btn btn-primary">Créer un propriétaire</a></p>
    </div>
    <hr />

    <h3>Liste des propriétaires de l'agence</h3>
    <input ng-model="searchText.surname" type="text" class="form-control" id="inputSearch" placeholder="Saissisez le nom du propriétaire à rechercher"/>

    <br />
    <table class="table table-condensed">
        <thead>
        <tr>
            <th style="width:40%"><sort-by onsort="sort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortBy" sortvalue="name">Nom</sort-by></th>
            <th style="width:20%">Téléphones</th>
            <th style="width:20%"><sort-by onsort="sort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortBy" sortvalue="key">Clé</sort-by></th>
            <th style="width:20%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="o in owners | filter:searchText | orderBy:'surname'">
            <td>{{o.firstname}} {{o.surname}}</td>
            <td>
                {{o.phoneMobile}}
                <br ng-if="o.phoneMobile"/>
                {{o.phoneHome}}
            </td>
            <td>{{o.keyNumber}}</td>
            <td style="vertical-align:middle">
                <div class="btn-group btn-group-action">
                    <a class="btn" href="#/proprietaires/modifier/{{o.techid}}" title="Voir"><i class="glyphicon glyphicon-eye-open"></i></a>
                    <a class="btn" ng-click="addToProperty(o.techid)" title="Ajouter au bien"><i class="glyphicon glyphicon-plus-sign"></i></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-center" ng-show="totalItems > 1">
        <pagination boundary-links="true"
                    total-items="totalItems"
                    items-per-page="filterCriteria.itemNumberPerPage"
                    ng-model="filterCriteria.pageNumber"
                    class="pagination"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-change="selectPage()">
        </pagination>
    </div>

</div>


</div>