<div ng-controller="ControllerPrpTabDiagnosis">
    <fieldset ng-if="prp.category.code != 'PLT'">
        <legend>DPE</legend>
        <div class="row">
            <div class="form-group col-xs-6">
                <label>KwH</label>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="prp.dpe.kwh" />
                    <span class="input-group-addon">{{prp.dpe.classificationKWh}}</span>
                </div>
                <label>Ges</label>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="prp.dpe.ges" />
                    <span class="input-group-addon">{{prp.dpe.classificationGes}}</span>
                </div>
            </div>

            <div class="form-group col-xs-3">
                <img class="center-block" ng-src="http://localhost:8080/ogi-ws/rest/dpe/kwh?dpe={{prp.dpe.kwh}}&width=180" />
                <p class="text-center">
                    <a href="http://localhost:8080/ogi-ws/rest/dpe/kwh?dpe={{prp.dpe.kwh}}&width=180" target="_blank">180px</a>
                    <a href="http://localhost:8080/ogi-ws/rest/dpe/kwh?dpe={{prp.dpe.kwh}}&width=260" target="_blank">260px</a>
                </p>
            </div>

            <div class="form-group col-xs-3">
                <img class="center-block" ng-src="http://localhost:8080/ogi-ws/rest/dpe/ges?dpe={{prp.dpe.ges}}&width=180" />
                <p class="text-center">
                    <a href="http://localhost:8080/ogi-ws/rest/dpe/ges?dpe={{prp.dpe.ges}}&width=180" target="_blank">180px</a>
                    <a href="http://localhost:8080/ogi-ws/rest/dpe/ges?dpe={{prp.dpe.ges}}&width=260" target="_blank">260px</a>
                </p>
            </div>
        </div>
    </fieldset>
</div>