<div id="prpList">

    <div class="row action">
        <button type="button" class="btn btn-default" title="Retour" onclick="history.go(-1)"><i class="glyphicon glyphicon-arrow-left"></i></button>
        <button type="button" class="btn btn-default" ng-click="openModalAddPrp()"><i class="glyphicon glyphicon-plus-sign"></i> Ajouter</button>
    </div>


    <div class="row">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>Référence</th>
                <th>Type</th>
                <th>Ville</th>
                <th>Prix</th>
                <th>Surface</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prp in properties">
                    <td><input type="checkbox" value="{{prp.reference}}" ng-model="prp.checked"/></td>
                    <td data-title="'reference'" sortable="reference">{{prp.reference}}</td>
                    <td>{{prp.category.label}}</td>
                    <td>{{prp.address.city}}</td>
                    <td>{{prp.sale.priceFinal | currency}}</td>
                    <td>
                        <span ng-switch on="prp.category.code">
                            <span ng-switch-when="HSE">{{prp.area | area}}</span>
                            <span ng-switch-when="APT">{{prp.area | area}}</span>
                            <span ng-switch-when="PLT">{{prp.landArea | area}}</span>
                            <span ng-switch-default></span>
                        </span>
                    </td>
                    <td><img ng-src="{{prp.photos[0].url}}?size=75,60&crop=75,60&sizeMode=inversed_automatic"/></td>
                    <td style="vertical-align:middle">
                        <div class="btn-group btn-group-action">
                            <a class="btn" href="#/biens/voir/{{prp.reference}}" title="Voir"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a class="btn" href="#/biens/modifier/{{prp.reference}}" title="Modifier"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn" ng-click="confirmDeletion($index)" title="Supprimer"><span class="glyphicon glyphicon-remove-circle"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="modalPrpDelete.html">
        <div class="modal-header"><a class="close" ng-click="$dismiss()">×</a>
            <h3>Suppression</h3>
        </div>
        <div class="modal-body">
            <p>Confirmez-vous la suppression de :
            <ul>
                <li ng-repeat="prp in selectedProperties">{{prp.reference}} -- {{prp.address.city}}</li>
            </ul>
            </p>
        </div>
        <div class="modal-footer">
            <a class="btn" ng-click="$dismiss()">Fermer</a>
            <a class="btn btn-warning" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span>Supprimer</a>
        </div>
    </script>


    <script type="text/ng-template" id="modalPrpAdd.html">
        <div class="modal-header dialog-header-confirm"><a class="close" ng-click="$dismiss()">×</a>
            <h4 class="modal-title"><i class="glyphicon glyphicon-plus-sign"></i> Ajouter un bien</h4>
        </div>
        <div class="modal-body">
            <ul class="list-unstyled list-inline text-center">
                <li><a href="#/biens/ajouter/HSE" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoMaison.png" /></a>Maison</li>
                <li><a href="#/biens/ajouter/APT" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoAppartement.png" /></a>Appartement</li>
                <li><a href="#/biens/ajouter/PLT" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoTerrain.png" /></a>Terrain</li>
                <li><a href="#/biens/ajouter/BSN" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoCommercial.png" /></a>Local Commercial</li>
                <li><a href="#/biens/ajouter/GRG" ng-click="$dismiss()" class="btn btn-block"><img src="img/logoGarage.png" /></a>Garage</li>
            </ul>
        </div>
    </script>
</div>