<br /><br />
<div class="col-xs-12">
    <p>
        Liste des biens présents chez les partenaires grâces aux passerelles.
    </p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Bien</th>
                <th>Acimflo ({{total("acimflo").totalProperty}})</th>
                <th>Diaporama ({{total("diaporama").totalProperty}})</th>
                <th>SeLoger.com ({{total("seloger").totalProperty}})</th>
                <th>LeBonCoin ({{total("leboncoin").totalProperty}})</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(ref, request) in passerelles">
                <td><a href="#/biens/modifier/{{ref}}" >{{ref}}</a></td>
                <td class="passerelle_recap_{{request['acimflo'].requestType}}">
                    <span ng-if="isDisplayable(request['acimflo'])">{{request["acimflo"].label}}</span>
                </td>

                <td class="passerelle_recap_{{request['diaporama'].requestType}}">
                    <span ng-if="isDisplayable(request['diaporama'])">{{request["diaporama"].label}}</span>
                </td>

                <td class="passerelle_recap_{{request['seloger'].requestType}}">
                    <span ng-if="isDisplayable(request['seloger'])">{{request["seloger"].label}}</span>
                </td>

                <td class="passerelle_recap_{{request['leboncoin'].requestType}}">
                    <span ng-if="isDisplayable(request['leboncoin'])">{{request["leboncoin"].label}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>