<br /><br />
<div class="col-xs-12">
    <p>
        Liste des biens présents chez les partenaires grâces aux passerelles.
    </p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Bien</th>
                <th>Acimflo ({{total("acimflo").totalProperty}}/{{total("acimflo").maxAllowed || '∞'}})</th>
                <th>Diaporama ({{total("diaporama").totalProperty}}/{{total("diaporama").maxAllowed || '∞'}})</th>
                <th>SeLoger.com ({{total("seloger").totalProperty}}/{{total("seloger").maxAllowed || '∞'}})</th>
                <th>LeBonCoin ({{total("leboncoin").totalProperty}}/{{total("leboncoin").maxAllowed || '∞'}})</th>
                <th>Annonces Jaunes ({{total("annoncesjaunes").totalProperty}}/{{total("annoncesjaunes").maxAllowed || '∞'}})</th>
                <th>Bien'ici ({{total("leboncoin").totalProperty}}/{{total("bienici").maxAllowed || '∞'}})</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(ref, request) in passerelles">
                <td><a href="#/biens/modifier/{{ref}}" >{{ref}}</a></td>
                <td class="passerelle_recap_{{request['acimflo'].requestType}}">
                    <span ng-if="isDisplayable(request['acimflo'])">{{request["acimflo"].label}}</span>
                </td>

                <td class="passerelle_recap_{{request['diaporama'].requestType}}">
                    <span ng-if="isDisplayable(request['diaporama'])">{{request["diaporama"].label}}</span>
                </td>

                <td class="passerelle_recap_{{request['seloger'].requestType}}">
                    <span ng-if="isDisplayable(request['seloger'])">{{request["seloger"].label}}</span>
                </td>

                <td class="passerelle_recap_{{request['leboncoin'].requestType}}">
                    <span ng-if="isDisplayable(request['leboncoin'])">{{request["leboncoin"].label}}</span>
                </td>

                <td class="passerelle_recap_{{request['annoncesjaunes'].requestType}}">
                    <span ng-if="isDisplayable(request['annoncesjaunes'])">{{request["annoncesjaunes"].label}}</span>
                </td>

                <td class="passerelle_recap_{{request['bienici'].requestType}}">
                    <span ng-if="isDisplayable(request['bienici'])">{{request["bienici"].label}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>