<br /><br />
<div class="col-xs-12">
    <p>
        Liste des biens présents chez les partenaires grâces aux passerelles.
    </p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Bien</th>
                <th>Acimflo</th>
                <th>Diaporama</th>
                <th>SeLoger.com</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(ref, request) in passerelles">
                <td>{{ref}}</td>
                <td>
                    <a href="#/biens/modifier/{{ref}}" >{{request["ACIMFLO"].requestType}}</a>
                </td>
                <td>
                    <a href="#/biens/modifier/{{ref}}" >{{request["DIAPORAMA"].requestType}}</a></td>
                <td>
                    <a href="#/biens/modifier/{{ref}}" >{{request["SE_LOGER"].requestType}}</a></td>
            </tr>
        </tbody>
    </table>
</div>